<!-- 
  Copyright (c) 2024 Eclipse Foundation, Inc.

  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v. 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.

  SPDX-License-Identifier: EPL-2.0
-->

<div class="padding-y-30 row" id="join">
  <div class="container">
    <h2 class="text-primary text-center margin-bottom-40 h1">How to Join?</h2>
    <p>
      <strong>SIG membership is open to all members of the SDV Working Group.</strong>
      If you aren't a member yet: <a href="/become-a-member/">Learn more</a> 
      about the benefits of being an SDV Working Group member and 
      <a href="/become-a-member/#contact-us">contact us</a> 
      about membership options.
    </p>
    <div class="hubspot-contact-form margin-top-20">
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
      <script>
        hbspt.forms.create({
          region: "na1",
          portalId: "5413615",
          formId: "36926390-2c36-4a2e-abce-4b042f3fef86"
        });
      </script>
    </div>
  </div>
</div>
