<section class="additional-info-section row dark section-featured section-lip">
  <div class="column-start col-md-12 bg-deep-violet padding-y-60 match-height-item-by-row">
    <div class="container-fluid">
      <h2 class="margin-bottom-60" id="why-attend">Why Attend?</h2>
      <ul class="margin-bottom-40 text-left">
        <li>
          Become the next superhero of the software defined vehicle of the
          future.
        </li>
        <li>
          Master new skills using automotive open source software.
        </li>
        <li>
          Have a direct impact on developing the larger automotive technology
          ecosystem that will define the future mobility!
        </li>
        <li>
          Race to the future of connected cars by coding!
        </li>
      </ul>
    </div>
  </div>
  <div class="column-end col-md-12 bg-primary padding-y-60 match-height-item-by-row bg-ksu-purple margin-auto">
    <div class="container-fluid">
      <h2 class="margin-bottom-60" id="grand-prize">Prizes</h2>
      <p>
        <span class="fw-700">Eclipse Foundation awards await the three winning teams:</span>
        prepare to be dazzled and elevate your tech game with the enigmatic
        prizes awaiting the ingenious minds at our upcoming Hackathon! As you
        embark on this coding odyssey, envision yourself as the chosen one,
        destined to claim cutting-edge tech treasures that seamlessly blend
        innovation and sophistication.
      </p>
      <p>
        <span class="fw-700">Special Accenture Prize for the champion of code:</span>
        your mission is to write impeccable code that not only solves a problem
        but does so with elegance, efficiency, and a dash of innovation. What
        awaits the code maestro? An enigmatic prize with dual encoders and
        funky sensors
      </p>
    </div>
  </div>
  <div class="wired-circle"></div>
</section>
