/*!
 * Copyright (c) 2023 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * Contributors:
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 * 
 * SPDX-License-Identifier: EPL-2.0
*/

@import (reference) '../styles.less';

.header-wrapper {
  background: @white;
}

.header-wrapper .featured-jumbotron {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: url('../images/pages/sdv-community-day-july-2023/sdv-community-day-july-2023-header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  .featured-jumbotron-title {
    font-size: 5rem;
  }
}

.header-wrapper .jumbotron-custom {
  height: unset;
  min-height: unset;
  max-height: unset;

  .custom-jumbotron-header {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);

    .btn {
      text-shadow: none;
    }
  }
}

.eclipsefdn-registration {
  margin: unset;
}

.eclipsefdn-registration-content {
  text-align: left;
}

.eclipsefdn-registration-body {
  ul {
    padding: 0 4rem;
    margin-left: auto;
    margin-right: auto;

    li {
      margin-bottom: 2rem;
    }
  }

  .cta-links {
    padding: unset;
    margin: unset;
  }
}

