<div class="row margin-top-50 padding-top-50 testimonials-section text-center">
  <div class="container full-background padding-top-60">

    <h2>Testimonials</h2>

      <div class="row">
        <div class="col-sm-20 col-xs-24 col-sm-offset-2">
          <div class="card icon-card icon-card-dark card-testimonials">
            <div class="icon-card-header-icon card-header-quote vertical-align">
              <img class="img img-responsive" src="./images/quote-left-white.png" width="100px" alt="">
            </div>
            <div class="icon-card-body">
              <p>
                "As one of the leading software companies in the automotive industry, we are looking forward to the open
                cooperation in the Eclipse Foundation. Open source has long been a cevtral component in the automotive
                sector. We see great potential in the cooperation of the open source community for the software-driven car
                and also for our developers. We want to create innovations and set open standards together."
              </p>
              <p>
                <i>
                  Michael Wintergerst, Executive Vice President for Vehicle and Cloud Platform, CARIAD
                </i>
              </p>
  
              <hr>
              <p>
                "We are glad to suport the 'code first' approach of Eclipse SDV by contributing Eclipse eCAL: a scalable
                middleware enabling efficient communication within distributed systems. Continental is looking forward to
                collaborating within the community to create innovative solutions for the Software-Defined Vehicle."
              </p>
              <p>
                <i>
                  Michael Huelsewies, Head of Architecture and Software at Continental Automotive
                </i>
              </p>
  
              <hr>
  
              <p>
                "The first Eclipse SDV Contribution Day sets a major milestone on the road to an open-source
                software-defined vehicle ecosystem: first, we look forward to listening to the community's projects and
                are
                excited to present our two projects. Second, we welcome the growth of the community and the addition of
                new
                participants building an ecosystem for the software-defined vehicle. We are convinced that cross-company
                collaboration will lead to excellent results."
              </p>
              <p>
                <i>
                  Cristoph Hartung, Chairman of the Board of Management of ETAS GmbH
                </i>
              </p>
  
              <a class="btn btn-primary margin-top-20" href="#contact-us">
                My Organization is Ready to Join
              </a>
            </div>
          </div>
        </div>
    </div>  
  </div>
</div>