/*!
 * Copyright (c) 2023 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * Contributors:
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 * 
 * SPDX-License-Identifier: EPL-2.0
*/

#main-menu .nav a {
  font-weight: 600;
}

@media (min-width: @screen-sm-min) {
  .navbar#main-menu {
    float: unset;
  }

  #navbar-main-menu {
    float: unset;
  }
}
