/*!
 * Copyright (c) 2024 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * SPDX-License-Identifier: EPL-2.0
*/

.carousel .item {
  height: 30rem;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  @media (min-width: @screen-sm-min) {
    height: 60rem;
  }
}
