/*!
 * Copyright (c) 2024 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 */

// Wrapper for the hubspot contact form
.hubspot-contact-form {
  padding: 4rem;
  border: 1px solid #ddd; 
  border-radius: 1rem; 
  background-color:#f4f4f4; 
  box-shadow: 0 0 14px #00000022;
}
