/*!
 * Copyright (c) 2023 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * Contributors:
 *   Zachary Sabourin <zachary.sabourin@eclipse-foundation.org>
 * 
 * SPDX-License-Identifier: EPL-2.0
*/

.eclipsefdn-projects {
  .dropdown-menu {
    padding: 1rem 0;
  }

  .btn.btn-sm {
    min-width: unset;
  }

  .btn-filter-project {
    &:hover,
    &:focus {
      color: inherit; 
    }
  }
}
